<div class="footer">
  <div >
    <div class="col span-1-of-2">
      <ul class="footer-nav">
        <li><a href="home">Home</a></li>
        <li><a href="laptop">Laptops</a></li>
        <li><a href="about">About</a></li>
        <li><a href="contact">Contact</a></li>        
      </ul>
    </div>    
    <div class="span-1-of-2">
      <ul class="social-links">
        <li><a href="https://www.facebook.com/amol.rajurkar.9" target="_blank"><i class="fab fa-facebook fa-lg"></i></a></li>
        <li><a href="https://twitter.com/rajurkaramol17"><i class="fab fa-twitter fa-lg twitter" target="_blank"></i></a></li>
        <li><a href="https://www.instagram.com/invites/contact/?i=11wiqxjstfwh6&utm_content=12lsrq2" target="_blank"><i class="fab fa-instagram fa-lg"></i></a></li>
        <li><a href="https://www.youtube.com/channel/UC2KSb3ww29Iiw9GMDBz00Pg" target="_blank"><i class="fab fa-youtube fa-lg"></i></a></li>
      </ul>
    </div>
  </div>
  <div>
    <p>Copyright &copy; 2020 by Technical Rudra. All rights reserved </p>
  </div>
</div>

