.container-fluid{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin-top: 5rem;
}

h1{
    text-align: center;
    margin:4rem;
}

h4{
  margin-bottom: 1%;
}

.greytext{
    /* font-size: 1.1em; */
    color:rgb(107, 104, 104);
    font-weight: 600;
}

.section2{
    background-color: rgb(245, 246, 248);
}

.section1,.section2{
    padding:2%;
    line-height: 1.3;
    letter-spacing: 1.5;
}

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
    background-image: linear-gradient(rgba(34, 34, 34, 0.8),rgba(34, 34, 34, 0.8)),url('../../assets/mainSectionImages/digimark.jpg');
    background-size: cover;
    margin: 0 auto 2rem;
    background-attachment: fixed;
}


.fa-linkedin-in{
    color:#0e76a8;
}
.fa-snapchat{
    color:#fffc00;
}
.fa-pinterest{
    color:#c8232c;
} 

.fa-facebook{
    color:#3B5998;
}

.fa-twitter{
    color:#00aced;
}

.fa-instagram{
    color:#bc2a8d;
}

@media only screen and (max-width:480px){
    h1{
        margin: 0;
        padding: 10% 5% ;
        font-size:1.5rem;
        font-weight: 400;
    }
    
    h4{
        font-size: 1.3rem;
    }
}