<div class="container-fluid">
  <div class="container">    <a name="top"></a>
    <h1> Digital Marketing</h1>
  </div>
 
  <section class="section1">
    <h4>Examples</h4>  
    <br>
    <ul>
      <li><a href="seo">Search Engine Optimization (SEO)</a></li>
      <li>Content Marketing</li>
      <li>Social Media Marketing</li>
      <li>Pay Per Click (PPC)</li>
      <li>Affiliate Marketing</li>
      <li>Native Advertising</li>
      <li>Marketing Automation</li>
      <li>Email Marketing</li>
      <li>Online PR</li>
      <li>Inbound Marketing</li>
    </ul>
  </section>

  <section>     
    Here's a quick rundown of some of the most common digital marketing tactics.
    <br><br>
    <section class="section2">
        <h4 class="seo">Search Engine Optimization (SEO)</h4><br>
        This is the process of optimizing your website to "rank" higher in search engine results pages, 
        thereby increasing the amount of organic (or free) traffic your website receives. 
        
        There are a number of ways to approach SEO in order to generate qualified traffic to your website.
        <br><br>
        •	<span class="greytext">On page SEO</span><br>
        •	<span class="greytext">Off page SEO</span><br>
        •	<span class="greytext">Technical SEO</span><br>
      </section>
    <br>

    <section class="section1">
        <h4>Content Marketing</h4><br>
        This term denotes the creation and promotion of content assets. 
        The channels that can play a part in your content marketing strategy include:
        <br><br>
        •	<span class="greytext">Blog posts</span> <br>
        •	<span class="greytext">Ebooks and whitepapers</span><br>
        •	<span class="greytext">Infographics</span> <br>
    </section>
    <br>

    <section class="section2">
      <h4>Social Media Marketing</h4><br>
      This practice promotes your brand and your content on social media channels to increase brand 
      awareness, drive traffic, and generate leads for your business. 
      The channels include:<br><br>
      <ul>
        <li><i class="fab fa-facebook" ></i> &nbsp;Facebook</li>
        <li><i class="fab fa-twitter twitter" target="_blank"></i>&nbsp;Twitter</li>
        <li><i class="fab fa-linkedin-in"></i>&nbsp;LinkedIn</li>
        <li><i class="fab fa-instagram"></i>&nbsp;Instagram</li>
        <li><i class="fab fa-snapchat"></i>&nbsp;Snapchat</li>
        <li><i class="fab fa-pinterest"></i>&nbsp;Pinterest</li>   
      </ul>
    </section>
    <br>

    <section class="section1">  
      <h4>Pay Per Click (PPC)</h4><br>
      PPC is a method of driving traffic to your website by paying a publisher every time your 
      ad is clicked. Examples <br>
      •	<span class="greytext"> Google Ads </span> <br>
      •	<span class="greytext">Paid ads on Facebook</span> <br>
      •	<span class="greytext">Twitter Ads campaigns</span> <br>
      •	<span class="greytext">Sponsored Messages on LinkedIn</span><br>
    </section>
    <br>

    <section class="section2">          
      <h4>Affiliate Marketing</h4><br>
      In this you receive commission for promoting someone else's products or services on your website. 
      It includes:
      <br><br>
      •	Hosting video ads through the YouTube Partner Program.
      <br>
      •	Posting affiliate links from your social media accounts.<br>
    </section>
    <br>  

    <section class="section1">
      <h4>Native Advertising</h4><br>
      Native advertising refers to advertisements that are primarily content-led 
      and featured on a platform alongside other, non-paid content. 
      Example: BuzzFeed-sponsored posts 
      <br>
    </section>
    <br>  
    
    <section class="section2">
      <h4>Marketing Automation</h4><br>
      It refers to the software that serves to automate your basic marketing operations. 
      Such as:

      <br><br>
      •	<span class="greytext">Email newsletters</span><br>
      • <span class="greytext">Social media post scheduling</span> <br>
      •	<span class="greytext">Lead-nurturing workflows</span> <br>
      •	<span class="greytext">Campaign tracking and reporting</span><br>
    </section>
    <br>  

    <section class="section1">
      <h4>Email Marketing</h4><br>
      It is often used to promote content, discounts and events.   <br>    
    </section>
    <br>

    <section class="section2">
      <h4>Online PR</h4><br>
      It is the practice of securing earned online coverage with blogs
       and other content-based websites. <br>
    </section>
    <br>

    <section class="section1">
      <h4>Inbound Marketing</h4><br>
      Inbound marketing refers to a marketing methodology wherein you engage and
      delight customers at every stage of the buyer's journey.<br>      
    </section>
    <br>    
  </section>
</div>
