
<div class="container-fluid">   
  <h4>Who Runs TechnicalRudra?</h4>
    <h1>AMOL RAJURKAR</h1>  
   
      <p>
      <img class="about-img" src="../../assets/aboutImg/AmolRajurkar.jpg" 
      style="width:250px;height:auto;margin:0 12% 12% 0;float:left">
    
        <br>
        Amol is a passionate tech writer, rider, dreamer and achiver. He realized that he is really good at doling out information about smartphones and consumer technology without anyone asking. 
        <br><br>
        This site will tell you about latest technologies. 
        All latest <span class="greytext">Technology News</span>, <span class="greytext">Review And Unboxing Gadgets</span> & much more. 
        <br><br>
        <span class="greytext">TechnicalRudra.com</span> is a technology and gadget research site in India. It will help you research and decide for mobiles, laptops and gadgets, by giving you product information like news, reviews, best lists, price etc.
        <br><br>
        It'll help you to decide not just where to buy but also what to buy. 
        <br><br>
        For Sponsorship : techonlyyou@gmail.com           
      </p>
</div>