<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/mainSectionImages/lap1.jpg" alt="Random first slide">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/mainSectionImages/gadgets2.jpg" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <!-- <h3>First slide label</h3> -->
      <!-- <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/mainSectionImages/headphones.jpg" alt="Random first slide">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/mainSectionImages/gadgets4.jfif" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <!-- <h3>First slide label</h3> -->
      <!-- <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/mainSectionImages/lap2.jpg" alt="Random first slide">
    </div>    
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/mainSectionImages/earphonepro-01.jpg" alt="Random first slide">
    </div>    
  </ng-template>
</ngb-carousel>
