<div class="container-fluid">
  <div class="container">
    <section>
      <h2>LAPTOPS</h2>     

     <div> Laptop Data : {{laptopData}}</div>
      <div class="row">

         <div class="col-lg-3 col-md-4 col-sm-6"
         *ngFor='let item of laptopData | keyvalue'>
          <article>
            <a routerLink="">
              <header class="title-header"><h3>{{item.key}} </h3></header>
              <div class="card-block">
                <div class="img-card">
                  Brand: {{item.value.Brand}} 
                  <img [src]="laptop.image" alt="Mobile" class="w-100 poster" style="width:20%;height:auto"/> 
                  Price: {{item.value.Price}}
                </div>
              </div>           
            </a>
          </article>  
        </div>       
      </div>
    </section>
  </div>
</div>
